[submodule "src/github.com/sqs/goreturns"]
	path = src/github.com/sqs/goreturns
	url = https://github.com/sqs/goreturns
[submodule "src/github.com/rogpeppe/godef"]
	path = src/github.com/rogpeppe/godef
	url = https://github.com/rogpeppe/godef.git
[submodule "src/github.com/nsf/gocode"]
	path = src/github.com/nsf/gocode
	url = https://github.com/nsf/gocode
[submodule "src/github.com/ramya-rao-a/go-outline"]
	path = src/github.com/ramya-rao-a/go-outline
	url = https://github.com/ramya-rao-a/go-outline.git
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://github.com/golang/tools.git

[submodule "src/github.com/kisielk/errcheck"]
	path = src/github.com/kisielk/errcheck
	url = https://github.com/kisielk/errcheck.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "src/golang.org/x/xerrors"]
	path = src/golang.org/x/xerrors
	url = https://github.com/golang/xerrors.git
[submodule "src/golang.org/x/sync"]
	path = src/golang.org/x/sync
	url = https://github.com/golang/sync.git
[submodule "src/github.com/jstemmer/gotags"]
	path = src/github.com/jstemmer/gotags
	url = https://github.com/jstemmer/gotags.git
